<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ogcapi-maps-1.0-${version}" verbose="0" configfailurepolicy="continue">
  <parameter name="iut" value="" />
  <parameter name="ics" value="" />

  <listeners>
    <listener class-name="org.opengis.cite.ogcapimaps10.listener.TestRunListener" />
    <listener class-name="org.opengis.cite.ogcapimaps10.listener.SuiteFixtureListener" />
    <listener class-name="org.opengis.cite.ogcapimaps10.listener.TestFailureListener" />
    <listener class-name="org.opengis.cite.ogcapimaps10.listener.LoggingTestListener" />
  </listeners>

  <test name="Background">
    <classes>
      <class name="org.opengis.cite.ogcapimaps10.conformance.background.BgcolorParameterDefinition"/>
      <class name="org.opengis.cite.ogcapimaps10.conformance.background.TransparentParameterDefinition"/>
      <class name="org.opengis.cite.ogcapimaps10.conformance.background.VoidColorParameterDefinition"/>
      <class name="org.opengis.cite.ogcapimaps10.conformance.background.VoidTransparentParameterDefinition"/>
      <class name="org.opengis.cite.ogcapimaps10.conformance.background.BackgroundMapSuccess"/>
    </classes>
  </test>

</suite>
